




/* =========================== google font ============== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   

}
body{
    max-width: 1500px;
    margin: 0 auto;
   
}




/* ========================= banner style =======================  */

.top-banner{
    display: flex;
    max-width: 1321px;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    padding: 90px 80px 0 80px;
   background-color:  #161616;
   border-radius: 30px;
   margin-bottom: 100px;
   

}

.banner-content{
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.banner-title{
    font-weight: 700;
font-size: 70px;
line-height: 80px;
color: #FFFFFF;
margin-bottom: 20px;
}


.banner-text{
    font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
margin-bottom: 30px;
}
.tooltip{
    visibility: hidden;
}

.banner-btn ,.viewmore{
    text-decoration: none;
    background: #DD0000;
border-radius: 5px;
color: #FFFFFF;
font-size: 20px;
width: 187px;
padding: 15px 20px;
text-align: center;
transition: all 0.7s ease-in-out;
}
.banner-btn:hover{
    color: #DD0000;
    background: #FFFFFF;
}
.banner-img{
    width: 50%;
}
.banner-img img{
    width: 100%;
    
}

@keyframes playermove {
    0%{
        
       
        transform: translateX(8px);
    }
    50%{
        
       
        transform: translateX(-8px);
        transform: translateY(3px);
    }
    100%{
        
        transform: translateX(8px);
    }
}

.top-banner:hover .banner-img {
    animation: playermove infinite 01s ease-in-out;
}
 .top-banner:hover .banner-title::after{
    content: " ";
    border-left: 1px solid #FFFFFF;
    animation: writer infinite 1s ease-in-out;
}

@keyframes writer {
    0%{
        border-left: 1px solid #FFFFFF;

    }
    50%{
        border: none;

    }
    100%{
        border-left: 1px solid #FFFFFF;

    }
 }


@media screen and (max-width:576px){
    .top-banner{
        flex-direction: column;
        width: 300px;
        margin: 10px auto;
        padding: 0;
    }
    .banner-content{
        width: 100%;
       

    }
    .banner-title{
        font-size: 22px;
        line-height: 33px;
        text-align: center;
    }
    .banner-text{
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }
    .banner-btn{
        width: 200px;
        margin: auto;
    }
    .banner-img{
        width: 100%;
    }
    
    
}
@media screen and (min-width:577px) and (max-width:992px){
.top-banner{
    width: 577px;
    flex-direction: row;

}
.banner-title{
    font-size: 40px;
    line-height: 50px;
}
.banner-text{
    font-size: 14px;
line-height: 24px;
}
.banner-btn{
    width: 180px;
}
}

/* ======================= blog section style ===================== */

.blog-section , .upcoming-section{
    display: flex;
    max-width: 1321px;
    margin: 20px auto;
    padding: 0;
   
}

.sidebar{
    width: 300px;
    height: 312px;
    display: flex;
    flex-direction: column;
    background-color:  #161616;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 40px;
    

    
}
.sidebar-link{
    text-decoration: none;
    background: white;
    width: 250px;
    color: #161616;
    padding:15px;
    margin:30px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    border: 1.3px solid rgba(22, 22, 22, 0.226);
}
.active{
    background-color: #DD0000;
    color: #FFFFFF;
}
.blogs-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.blogs , .matchcard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.blog , .card{
    border: 1px solid #b9b9b967;
    border-radius: 10px;
    padding: 10px;
}
.blog-img{
    width: 100%;
    border-radius: 5px;
}
.blog-content{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.transfer{
    padding: 3px 15px;
    border: 1px solid  #161616;
    color: #161616;
    width: 100px;
    text-align: center;
    margin: 10px 0;
}
.blog h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
}
.blog-icons{
    display: flex;
    margin: 15px 0;
    align-items: center;
}
.blog-icons p {
    margin-right: 30px;
    font-size: 16px;
    color: rgba(22, 22, 22, 0.7);
}
.blog-icons p span{
    margin-right: 15px;
}
.viewmore{
    display: none;
}
@media screen and (max-width:576px){
    .blog-section,.upcoming-section{
        width: 300px;
        flex-direction: column;
    }
    .sidebar{
        background-color: transparent;
    }
    .sidebar-link{
        margin-bottom: 0;
    }
    .blogs , .matchcard{
        grid-template-columns: repeat(1,1fr);
    }
    .text-no-display{
        display: none;
    }
}
@media screen and (min-width:577px) and (max-width:1144px){
    .blog-section,.upcoming-section{
        width: 577px;
        flex-direction: column;
        
    }
    .sidebar{
        background-color: transparent;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .blogs , .matchcard{
        grid-template-columns: repeat(2,1fr);
    }
    .viewmore{
        
        display: block;
        margin: 20px auto;
        
    }
    .no-display{
        display: none;
    }
}

/* ====================================footer style ===========================  */

footer{
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    padding: 70px;
    
    
   
}
footer h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
}

.underline {
    width: 75%;
    border-bottom: 1px solid #B9B9B9;
    margin: 20px auto;
}

.footer-menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
   
   
}
.footer-menu ul li{
    list-style: none;
    margin: 40px;
    
}
.footer-menu ul li a {
    color: #B9B9B9;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.footer-menu ul li a:hover{
    color: #DD0000;
}
.social-icons{
    display: flex;
}
.social-icons a{
    text-decoration: none;
    color: #DD0000;
    margin: 20px;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.social-icons a:hover{
    background-color: #dd00002d;
    color: #B9B9B9;
    
    
}
@media screen and (max-width:576px){
    footer{
        /* width: 100vw; */
        margin:auto;
    }
    .footer-menu ul li{
        text-align: center;
    }
    .footer-menu ul{
        flex-direction: column;
        
    }
}
@media screen and (min-width:577px) and (max-width:992px){
    footer{
        /* width: 100vw; */
        margin:auto;
    }
    .footer-menu ul{
        flex-wrap: wrap;
        
    }
}



/* =============================== matchcard style ======================== */

.matchcard{
    grid-column-gap: 20px;
    grid-row-gap: 60px;
    justify-content: center;
    align-items: center;
   
    margin: 0 auto;
    
}
@media screen {
    
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
}
.flags{
    display: flex;
    align-items: center;
    justify-content: center;

}
.flags img {
    width: 100px;
}
.vs{
    font-size: 24px;
    color: #161616;
    margin: 0 10px;
}
.nametime{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.country{
    font-size: 20px;
}
.datetime{
    color: #4D4D4D;
    font-size: 14px;
}